body {
  margin: 0px;
  padding:0px;
  background-color:#fbfcfd;
  height: 200px;
  width: 400px
}

#categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 20px;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

img {
  display: block;
  position: relative;
  right: -25%;
}

#apps {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5); 
  transition: 0.3s; 
  border-radius: 5px; 
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 15px; 
  padding-right: 15px;
  margin-bottom: 10px;
  margin-left:5px;
  margin-right:10px;
  
}

#coding {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5); 
  transition: 0.3s; 
  border-radius: 5px; 
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 15px; 
  padding-right: 15px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 10px
}


#travel {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5); 
  transition: 0.3s; 
  border-radius: 5px; 
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 15px; 
  padding-right: 15px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 10px
}


#recipes {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5); 
  transition: 0.3s; 
  border-radius: 5px; 
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 15px; 
  padding-right: 15px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 10px
}

#movies {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5); 
  transition: 0.3s; 
  border-radius: 5px; 
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 15px; 
  padding-right: 15px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 10px 
}

#books {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5); 
  transition: 0.3s; 
  border-radius: 5px; 
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 15px; 
  padding-right: 15px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 10px
}

#podcasts {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5); 
  transition: 0.3s; 
  border-radius: 5px; 
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 15px; 
  padding-right: 15px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 10px
}

#sports {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5); 
  transition: 0.3s; 
  border-radius: 5px; 
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 15px; 
  padding-right: 15px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 10px
}

#music {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5); 
  transition: 0.3s; 
  border-radius: 5px; 
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 15px; 
  padding-right: 15px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 10px
}

#span {
  padding-left: 15px
}

#select {
  color: black;
  cursor: pointer;
  background: rgba(white,0.3); 
  border: 2px solid white;
  font-size: 120%;
  padding: 0.4em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: sans-serif;
}

::-webkit-scrollbar{
  width: 8px;
  background-color:#fbfcfd;
}

::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color:rgba(0,0,0,0.2);
}

li {
  list-style-type: none;
  padding-left: 15px
}

.deleteBtn {
margin-left: 2px;
}